body {
	/*background-color: $lightColor;*/
}

:root {
	--max-body-width: 92rem;
}

.edit-book-form {
	display: flex;
	flex-flow: wrap;
	align-items: flex-start;
	grid-gap: 2rem;
	gap: 2rem;
}

.edit-book-form h3 {
		width: 100%;
	}

.edit-book-form div {
		width: calc(50% - 1rem);
	}

.edit-book-form textarea {
		resize: none;
	}

.edit-book-form .book-checkboxes {
	display: flex;
	flex-flow: wrap;
	grid-gap: 0;
	gap: 0;
}

.edit-book-form .book-checkboxes h3 {
		width: 100%;
	}

.edit-book-form .book-checkboxes div {
		display: flex;
		align-items: center;
		width: calc(50%);
		margin-bottom: 0.25rem;
	}

.edit-book-form .book-checkboxes label {
		margin-top: 0;
		order: 1;
		margin-left: 0.25rem;
	}

.edit-book-form .book-genre-checkboxes {
	width: 100%;
}

.edit-book-form .book-genre-checkboxes div {
		width: calc(25%);
	}

.edit-book-form .radio-buttons {
	display: flex;
}

.edit-book-form .radio-buttons div {
		display: flex;
		width: -moz-fit-content;
		width: fit-content;
	}

.edit-book-form .radio-buttons div label {
			order: 1;
		}

.edit-book-form .radio-buttons label {
		margin-top: 0;
		margin-right: 0.5rem;
		width: -moz-fit-content;
		width: fit-content;
	}

.edit-book-form .btn-container {
	width: 100%;
}