{% extends 'templates/base-template.html.twig' %}

{% block extra_head_meta %}{% endblock %}
{% block extra_head_styles %}{% endblock %}
{% block extra_head_scripts %}{% endblock %}

{% block body_content %}
	<h2>Welcome to Logan's Books</h2>
	<p>This is the admin imports page</p>
{% endblock %}

{% block extra_footer_scripts %}{% endblock %}
{% block extra_footer_js %}{% endblock %}